    $first-light: #E8DEF8;
    $light-primary: #7B7383;
    $primary: #500CA3;
    $dark-primary: #2e002b;
    $secondary: #D6B327;
    $dark-secondary: #403300;


    $fontFirst: 'Lexend ExtraLight';
    $fontH1: 'Eagle Lake';

    $animationStandard : 'translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1';

    $fade-in : 'animation-duration: 400ms; animation-timing-function: ease-in-out';