@import 'variables';

// general

* {
  box-sizing: border-box;
  padding: 0;
  text-decoration: none;
  color: $dark-primary;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Bungee", sans-serif;
}


.background {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(10px);
  z-index: -2;
}


// login page

.login-container {
  padding: 2.5rem;
  border-radius: 20px;
  box-shadow: 0 8px 32px 0 $first-light;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid;
  color: $primary;
  width: 300px;
  text-align: center;
  animation: fadeIn 1s ease-out forwards;
  justify-self: center;
}

.login-container h2 {
  margin-bottom: 1.5rem;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container input {
  padding: 0.75rem;
  border: none;
  border-radius: 10px;
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  color: $light-primary;
  font-size: 1rem;
  transition: 0.3s;
  height: 3rem;
}

.login-container input::placeholder {
  color: $light-primary;
  background-color: $first-light;
  padding-left: 3rem;
  text-align: center;
  padding: 1rem;
}

.login-container input:focus {
  background: $secondary;
}

.login-container button {
  padding: 0.75rem;
  background: #00c6ff;
  background: linear-gradient(to right, #0072ff, #00c6ff);
  border: none;
  border-radius: 10px;
  color: $first-light;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.login-container button:hover {
  background: linear-gradient(to right, #00c6ff, #0072ff);
  transform: scale(1.05);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// navigation par defaut

@media screen and (min-width: 800px) {
  .nav-standard {
    padding: 0 20px;
    border-radius: 40px;
    box-shadow: 0 10px 40px $first-light;
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    position: relative;
  }


  .nav-item {
    color: $light-primary;
    padding: 20px;
    margin: 0 6px;
    position: relative;
    cursor: pointer;
  }


  .nav-item:before {
    content: "";
    position: absolute;
    bottom: -6px;
    background-color: #ff4ef6;
    height: 5px;
    width: 100%;
    border-radius: 8px 8px 0 0;
    left: 0;
    transition: .3s;
  }


  .nav-item:not(.is-active):hover:before {
    bottom: 0;
  }



  .nav-indicator {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    transition: .4s;
    border-radius: 8px 8px 0 0;
  }

  .burger-nav {
    overflow: hidden;
    display: none;
    background-color: $dark-primary;
  }
}

// cards

.wrapper {
  width: 350px;
  height: 600px;
  background: $first-light;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
  flex-wrap: wrap;
  display: inline-block;

  &:hover {
    transform: scale(1);
    box-shadow: 5px 20px 30px $light-primary;
  }

  .container {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;

    .top {
      height: 80%;
      width: 100%;
      background-size: 100%;
    }

    .bottom {
      width: 200%;
      height: 20%;
      transition: transform 0.5s;

      &.clicked {
        transform: translateX(-50%);
      }

      h1 {
        margin: 0;
        padding: 0;
      }

      p {
        margin: 0;
        padding: 0;
      }

      .left {
        height: 100%;
        width: 50%;
        background: $first-light;
        position: relative;
        float: left;

        .details {
          padding: 20px;
          float: left;
          width: calc(70% - 40px);
        }

        .see {
          cursor: pointer;
          float: right;
          width: calc(30% - 2px);
          height: 100%;
          transition: background 0.5s;
          border-left: solid thin $first-light;

          i {
            font-size: 30px;
            padding: 30px;
            color: $dark-primary;
            transition: transform 0.5s;
          }

          &:hover {
            background: #A6CDDE;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          &:hover i {
            transform: translateY(5px);
            color: #b300a7;
            text-emphasis: filled double-circle #b300a7;
            font-weight: bolder;
            margin-bottom: 2rem;
          }
        }
      }

      .right {
        width: 50%;
        background: #A6CDDE;
        color: white;
        float: right;
        height: 200%;
        overflow: hidden;

        .details {
          padding: 20px;
          float: right;
          width: calc(70% - 40px);
        }

        .done {
          width: calc(30% - 2px);
          float: left;
          transition: transform 0.5s;
          border-right: solid thin;
          height: 50%;

          i {
            font-size: 15px;
            padding: 15px;
          }
        }

        .remove {
          width: calc(30% - 1px);
          clear: both;
          border-right: solid thin $first-light;
          height: 50%;
          background: $dark-primary;
          transition: transform 0.5s, background 0.5s;

          &:hover {
            background: $dark-secondary;
          }

          &:hover i {
            transform: translateY(5px);
          }

          i {
            transition: transform 0.5s;
            font-size: 30px;
            padding: 30px;
            color: white;
          }
        }

        &:hover {

          .remove,
          .done {
            transform: translateY(-100%);
          }
        }
      }
    }
  }

  .inside {
    z-index: 9;
    background: $light-primary;
    width: 140px;
    height: 140px;
    position: absolute;
    top: -70px;
    right: -70px;
    border-radius: 0px 0px 200px 200px;
    transition: all 0.5s, border-radius 2s, top 1s;
    overflow: hidden;

    .icon {
      position: absolute;
      right: 85px;
      top: 85px;
      opacity: 1;
    }

    &:hover {
      width: 100%;
      right: 0;
      top: 0;
      border-radius: 0;
      height: 80%;


      .contents {
        opacity: 1;
        transform: scale(1);
        transform: translateY(0);
      }
    }

    .contents {
      padding: 5%;
      opacity: 0;
      transform: scale(0.5);
      transform: translateY(-200%);
      transition: opacity 0.2s, transform 0.8s;

      table {
        text-align: left;
        width: 100%;
      }


      p {
        font-size: 13px;
      }
    }
  }
}

.nav-standard {
  min-width: 750px;
}



/* Icône burger */

@media screen and (max-width: 800px) {
  .burger-nav {

    /* Sidenav menu */
    .sidenav {
      height: 100%;
      width: 250px;
      position: fixed;
      z-index: 1;
      top: 0;
      left: -250px;
      background-color: #e8e8e8;
      padding-top: 60px;
      transition: left 0.5s ease;
    }

    /* Sidenav menu links */
    .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }

    .sidenav a:hover {
      color: $dark-primary;
    }

    .sidenav ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    /* Active class */
    .sidenav.active {
      left: 0;
    }

    /* Close btn */
    .sidenav .close {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      font-family: sans-serif;
    }



    .burger-icon span {
      display: block;
      width: 35px;
      height: 5px;
      margin: 6px 0;
    }

    .main {
      max-width: 1200px;
      margin-inline: auto;
    }
  }

  .table {
    width: 25%;
    min-width: 175px;
    height: 3.75px;
    border-spacing: 0px;
  }

  .nav-standard {
    display: none;
  }
}

//icons
.logo {
  max-width: 9rem;
  box-shadow: 5px 2px 2px $primary;
  border-radius: 15%;
}

.usericon {
  max-width: 4rem;
  border-radius: 100%;
}


footer {
  text-align: center;
}

.layout {
  max-width: 120rem;
  margin: auto;
}

//separateur
hr {
  border: none;
  border-top: 3px double $dark-primary;
  color: $dark-primary;
  overflow: visible;
  text-align: center;
  height: 5px;
}

hr::after {
  background: #fff;
  content: "§";
  padding: 0 4px;
  position: relative;
  top: -13px;
}

//text
.homemessage {
  font-family: bungee, sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: $primary;

}

// breadcrumb
.breadcrumb {
  padding: 0 .5rem;
}

.breadcrumb ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumb li:not(:last-child)::after {
  display: inline-block;
  margin: 0 .25rem;
  content: "→";
}

label {
  margin: 1rem;
}

.button-submit {
  margin-top: 3rem;
  color: white;
  max-width: 250px;
}

.button-submit2 {
  margin-top: 3rem;
  color: white;
  max-width: 250px;
  margin-left: 20%;
}

main {
  margin: 3rem;
}

.signupparticularities {
  width: 500px;
}

.imghome {
  max-height: 525px;
  margin-left: 10%;
  margin-bottom: 2%;
}

.left {
  display: flexbox;
  justify-self: flex-end;
}

// // #######################  Userr menu login show / hide

.Header {
  display: flex;
  justify-content: space-around;
  align-items: center;

  &-logoBox {
    padding: 0;
    margin: 0;

    &-img {}

    &-name {
      display: none;
    }
  }

  &-principaleNav {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1em;
    background-color: $light-primary;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 50;

    &-link {
      margin-right: 3em;


      &:hover {
        background-color: #b300a773;
        border-radius: 70px;
        height: 70px;
        width: 70px;
      }
    }
  }

  &-secondaryNav {
    &-burger {}

    &-link {
      display: none;
    }
  }

  &-userMenu {
    &-avatar {}

    &-links {
      display: none;
    }
  }
}

@media screen AND (min-width:900px) {
  .Header {
    display: grid;
    grid-template-columns: 150px 1fr 100px;
    grid-template-rows: 55px 55px;

    &-logoBox {
      grid-row: 1/3;
      grid-column: 1/2;

      &-img {}

      &-name {
        color: #b300a7;
        display: block;
        font-weight: bolder;
      }
    }

    &-principaleNav {
      position: static;
      background-color: transparent;
      grid-row: 1/2;
      grid-column: 2/3;
      justify-content: flex-end;
    }

    &-secondaryNav {
      display: flex;
      flex-direction: row;
      grid-row: 2/3;
      grid-column: 2/3;
      padding: 0 20px;
      border-radius: 40px;
      box-shadow: 0 10px 40px #E8DEF8;
      display: flex;
      overflow: hidden;
      overflow-x: auto;
      position: relative;
      margin: 0 5%;
      height: 40px;

      &-burger {
        display: none;
      }

      &-link {
        display: block;
        margin-left: 2em;
        margin-top: 10px;

        &:hover {
          text-decoration: underline #b300a773;
          color: #b300a773;
        }
      }
    }

    &-userMenu {
      grid-row: 1/3;
      grid-column: 3/4;
      position: relative;

      &-avatar {}

      &-links {
        display: none;

        &:active {
          display: flex;
          position: absolute;
          flex-direction: column;
        }
      }
    }
  }
}












// .usernav {
//   position: relative;
// }

// .Index_deroulant_sous {
//   width: 200px;
//   display: flex;
//   flex-direction: column;
//   display: none;
//   background-color: rgba(0, 0, 0, 0.556);
//   color: white;
// }


// /* CSS du menu ouvert */
// .usernav.open .Index_deroulant_sous {
//   display: flex;
//   position: absolute;
// }

// /* Desktop */
// @media screen AND (min-width:800px) {
//   /* Modificatiojns css du menu fermé */
// }

// /* Gestin du header en desktop */
// @media screen AND (min-width:800px) {

//   .usernav {
//     grid-column: 2/3;
//     background-color: dodgerblue;
//   }
// }